<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:m.wowdsgn.com</string>
		<string>applinks:wowdsgn.com</string>
		<string>applinks:www.wowdsgn.com</string>
		<string>applinks:qiniu.com</string>
		<string>applinks:ofwerpqj6.qnssl.com</string>
		<string>applinks:fds.so</string>
		<string>applinks:img.wowdsgn.com</string>
		<string>applinks:m.intra.wowdsgn.com</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)com.wowdsgn.app</string>
	</array>
</dict>
</plist>
